h1{
    background-color: whitesmoke;
    color: #00f;
    font-family: fantasy;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none !important;

}

body{
    background-color: whitesmoke;
}
p{
    color: gray;
    font-family: cursive;
}
.header{
    display: flex;
    justify-content: center;
}
.main_logo{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: peachpuff;
    width: 100%;
   
}
.container div{
    background-color: wheat;
    border-radius: 10%;
    color: brown;
    font-size: 30px;
    
}
img{
    border-radius: 60%;
}
a{
    cursor: pointer;
    text-decoration: none;  
}
a:hover {
    color: blueviolet;
}